*.iml
.gradle
/local.properties
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDE
/.idea/

# Kotlin compiler daemon cache/logs
.kotlin/

# Build outputs
app/release/
*.apk
*.aab

# Signing
*.jks
*.keystore
